In [67]:
import pandas as pd
from IPython.display import clear_output

In [70]:
review_list = []

with pd.read_json('yelp_dataset/yelp_academic_dataset_review.json',lines=True,chunksize=100000) as reader:

    num = 1
    
    for chunk in reader:
        
        df = chunk[(chunk['date'] >= '2017') & (chunk['date'] < '2022')]
        review_list.append(df)
        
        clear_output(wait=True)
        print(num)
        num += 1

70

In [71]:
review = review_list[0]
num = 1

for df in review_list[1:]:
    
    review = review.append(df)
    clear_output(wait=True)
    print(num)
    num += 1

69

In [72]:
review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
24,lUUhg8ltDsUZ9h0xnwY4Dg,RreNy--tOmXMl1en0wiBOg,cPepkJeRMtHapc_b2Oe_dw,4,1,0,1,I was really between 3 and 4 stars for this on...,2018-07-17 03:30:07
30,-P5E9BYUaK7s3PwBF5oAyg,Jha0USGDMefGFRLik_xFQg,bMratNjTG5ZFEA6hVyr-xQ,5,0,0,0,First time there and it was excellent!!! It fe...,2017-02-19 13:32:05
31,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5,0,0,0,"Great burgers,fries and salad! Burgers have a...",2017-01-02 03:17:34
...,...,...,...,...,...,...,...,...,...
6990262,_b_SOIkWHsNPRGW4RM3X5w,L_fdAnrH5Pxi4PqF08_ToA,ez4kMLP6OJEIaMbMrrGRdA,5,1,1,1,My sister and I went on the ghost tour with Th...,2018-12-10 16:31:32
6990269,cACxcUY_AIsQKkpDRXuqnw,MCzlzlOw7IGbRAKVjJBPtg,fcGexL5VH5G2Xw0tRj9uOQ,3,1,1,0,This is a good pizza option - they deliver thr...,2018-03-13 13:54:48
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [61]:
business =  pd.read_json('yelp_dataset/yelp_academic_dataset_business.json', lines=True)

In [92]:
business_no_null = business[pd.isnull(business['categories']) == False]

In [109]:
business_rest = business_no_null[business_no_null['categories'].apply(lambda x: 'Restaurants' in x)]

In [112]:
restaurant_review = business_rest.merge(review, on = 'business_id')

In [115]:
restaurant_review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2538767 entries, 0 to 2538766
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   business_id   object
 1   name          object
 2   address       object
 3   city          object
 4   state         object
 5   postal_code   object
 6   latitude      float64
 7   longitude     float64
 8   stars_x       float64
 9   review_count  int64
 10  is_open       int64
 11  attributes    object
 12  categories    object
 13  hours         object
 14  review_id     object
 15  user_id       object
 16  stars_y       int64
 17  useful        int64
 18  funny         int64
 19  cool          int64
 20  text          object
 21  date          datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(6), object(12)
memory usage: 445.5+ MB

In [122]:
restaurant_review.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,categories,hours,review_id,user_id,stars_y,useful,funny,cool,text,date
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",MKNp_CdR2k2202-c8GN5Dw,3-1va0IQfK-9tUMzfHWfTA,5,5,0,5,I ordered a graduation cake for my niece and i...,2018-05-20 17:58:57
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",_hJu0u6nB-8LIeQJY4Vg4w,KQSRUu4Aapl0hG6eu2v8iw,4,1,0,0,This is my favorite bakery in Chinatown! I usu...,2018-03-17 23:47:25
2,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",_xRGsS6QGpcD9LQJNtavuw,qUfRCH5NUyRDsJfM6jA5PQ,4,3,4,10,Impression: The good thing is that there are l...,2017-04-20 12:37:09
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",3LNKer0gTFgknV-2CyPjAg,z-yvbUGwFn8PAijEHdU_RA,5,0,0,0,While I've never tried their bao (and usually ...,2018-03-25 12:35:42
4,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",UrLiacjSwp53jn8tFtcEsA,YqqSMPzBrZIng-Y0YJTvfw,5,1,0,0,The steamed pork buns here are out of this wor...,2017-06-21 15:39:14

In [133]:
user_list = []

with pd.read_json('yelp_dataset/yelp_academic_dataset_user.json',lines=True,chunksize=10000) as reader:

    num = 1
    
    for chunk in reader:
        
        df = chunk[chunk['review_count'] >= 20]
        user_list.append(df)
        
        clear_output(wait=True)
        print(num)
        num += 1

199

In [134]:
user = user_list[0]
num = 1

for df in user_list[1:]:
    
    user = user.append(df)
    clear_output(wait=True)
    print(num)
    num += 1

198

In [170]:
user['review_count'].min()

20

In [138]:
restaurant_review_user = restaurant_review.merge(user, on = 'user_id')

In [145]:
restaurant_review_user.columns

Index(['business_id', 'name_x', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars_x', 'review_count_x', 'is_open',
       'attributes', 'categories', 'hours', 'review_id', 'user_id', 'stars_y',
       'useful_x', 'funny_x', 'cool_x', 'text', 'date', 'name_y',
       'review_count_y', 'yelping_since', 'useful_y', 'funny_y', 'cool_y',
       'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [149]:
restaurant_review_user_useful = restaurant_review_user[restaurant_review_user['useful_x'] > 0]

In [151]:
review_final = restaurant_review_user_useful[['business_id','categories', 'review_id', 'user_id',
                                              'stars_y','useful_x', 'text', 'date', 'review_count_y']]

In [159]:
review_final = review_final.rename(columns={'stars_y': 'stars', 'useful_x': 'useful', 
                                   'review_count_y': 'user_review_count'},)

In [171]:
review_final.to_csv('yelp_review.csv')